.techUsed {
  width: 100%;
  background-color: #f8f8f8;

  padding-top: clamp(90px, 15vw, 200px);

  padding-left: 4%;
  padding-right: 6%;
}
.techUsedTitle {
  /* background-color: pink; */

  padding-top: 22px;
  padding-bottom: 22px;

  border: 0px;
  border-bottom: 3px dotted #aaa;

  border-style: dotted;

  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: normal;
}
.techUsedButtons {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 1%;
  flex-wrap: wrap;

  padding-top: 40px;
}
.techUsedButton {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 28px;
  font-weight: 600;
  letter-spacing: normal;

  padding-top: clamp(5px, 1vw, 10px);
  padding-bottom: clamp(5px, 1vw, 10px);
  padding-left: clamp(10px, 2vw, 25px);
  padding-right: clamp(10px, 2vw, 25px);

  border-radius: 30px;

  color: #222222;

  border: 0.1px solid gray;
  margin-bottom: 10px;

  background-color: #f8f8f8;

  cursor: pointer;
}
