.colorPalette {
  width: 100%;
  background-color: #f8f8f8;

  padding-left: 4%;
  padding-right: 4%;

  padding-top: 92px;
}
.colorPalateTitle {
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: normal;

  padding: 22px 0px;

  /* background-color: aquamarine; */

  border: 0px;

  border-bottom: 1px solid black;

  border-style: dotted;
}
.colorPalateDescription {
  font-size: 19px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: normal;

  padding-top: 48px;
}
.paletteContainer {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: center;

  padding-top: 38px;
}
.palette {
  background-color: #ee4137;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px;

  color: white;

  gap: 450px;
}
.paletteTop {
  width: 100%;

  display: flex;
  flex-direction: row;

  font-size: 14px;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: normal;

  align-items: center;

  gap: 200px;
}

.paletteTopLeft {
}
.paletteDownRight {
  width: 20px;
  height: 20px;
  background-color: purple;
}
.paletteDown {
  font-size: 130px;
  line-height: 78px;
  font-weight: 400;
  letter-spacing: normal;

  display: flex;
  flex-direction: row;

  justify-content: end;
}
.hex {
  font-weight: 600;
}
