.header {
  width: 100%;
  background-color: #e9e9e9;

  display: flex;
  flex-direction: row;

  align-items: center;

  justify-content: space-between;

  padding: 15px 4%;

  gap: 20px;
}
.hambergerContainer {
}
.hamberger {
  width: 20px;
  height: 20px;
  /* background-color: blue; */

  display: none;

  fill: #222222;

  flex-direction: row;

  align-items: center;
  justify-content: center;
}
.headerTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* or 800 for bolder */
  font-size: 25px;
  letter-spacing: -1px;

  background-color: red;

  padding-right: 3%;
}
.headerButtons1,
.headerButtons2 {
  display: flex;
  flex-direction: row;

  /* background-color: rebeccapurple; */

  gap: 20px;
}
.headerButton,
.headerProfileButton,
.headerProButton,
.headerSubmitButton {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 5px;

  border: 0px;
  background-color: #e9e9e9;

  padding: 5px;
}
.headerButton {
  color: #222222;
  font-family: "Inter Tight";
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: normal;
}
.headerProfileButton {
  border-radius: 100px;
  /* background-color: aquamarine; */
  padding: 0px;
}
.headerButton2 {
  padding: 10px;
  border-radius: 20px;
  background-color: black;
}
.headerIcon {
  width: 11px;
  height: 11px;
  /* background-color: red; */

  border-radius: 100px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  fill: #222222;

  font-size: 20px;
}
.newTag {
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: #f8f8f8;

  /* border-radius: 5px; */

  font-weight: 500;
  font-size: 10px;
  line-height: 17px;

  border-radius: 3px;

  padding: 0.5px 4px;
}
.inputContainer {
  width: 100%;
}
.inputBox {
  width: 100%;

  position: relative;
}
.searchIcon {
  width: 20px;
  height: 20px;
  /* background-color: red; */

  position: absolute;

  color: dimgray;

  top: 7px;
  left: 10px;

  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.headerInput {
  width: 100%;
  max-width: 630px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;

  border: 0px;
  background-color: #dedede;

  color: #222222;
}
.headerProfileicon {
  width: 30px;
  height: 30px;
  background-color: black;

  border-radius: 50px;
}
.headerProButton,
.headerSubmitButton {
  background-color: #222222;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 15px;

  white-space: nowrap;
}
.headerSubmitButton {
  background-color: #e9e9e9;
  color: black;
  border: 1px solid black;
}
@media screen and (max-width: 1279px) {
  .headerButtons1 {
    display: none;
  }
}
@media screen and (max-width: 1022px) {
  .headerProfileButton {
    display: none;
  }
  .headerProButton {
    display: none;
  }
}

@media screen and (max-width: 1269px) {
  .hamberger {
    display: flex;
  }
}
@media screen and (max-width: 779px) {
  .header {
    position: fixed;
    top: 0px;
  }
}
